:root {
    /* COLORS */
    --primary-color: 218, 97, 11;
    --secondary-color: 156, 156, 156;

    /* THEME */
    --background-color: 255, 250, 240;
    --dark-background-color: 210, 210, 220;
    --text-color: 0, 0, 0;
    --dark-text-color: 100, 100, 100;

    /* SIZES */
    --nav-bar-height: 70px;
    --footer-height: 40px;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
}

.nav-bar {
    display: flex;
    height: var(--nav-bar-height);
    border-bottom: rgb(var(--secondary-color)) 1px solid;
    background-color: rgb(var(--dark-background-color));
}

.title {
    display: flex;
    align-items: center;
    padding-inline: 20px;
    font-size: 2em;
    color: rgb(var(--text-color));
}

.nav-item {
    display: flex;
    align-items: center;
    padding-inline: 20px;
    text-decoration: none;
    color: rgb(var(--dark-text-color));
    fill: rgb(var(--secondary-color));
}

.nav-item:hover {
    cursor: pointer;
    color: rgb(var(--primary-color));
    fill: rgb(var(--primary-color));
}

#theme-switch-checkbox {
    display: none;
}

.theme-switch-label {
    width: 1em;
}

.theme-switch-label:hover {
    cursor: pointer;
}

.fa-github {
    font-size: 2em;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(var(--background-color));
}

#viewer-frame {
    border: none;
    width: 100%;
    height: 100%;
}

#examples {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, auto));
    padding: 50px;
    gap: 50px;
}

.example {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: rgba(var(--secondary-color), 0.2);
    border-radius: 20px;
    color: rgb(var(--text-color));

}

.example:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: rgba(var(--secondary-color), 0.5);
    color: rgb(var(--primary-color))
}

.example > img {
    border-radius: 10px;
    width: 100%;
}

.example > div {
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 12px;
}

.space-fill {
    flex: 1 0 auto;
}

.footer {
    text-align: center;
    border-top: rgb(var(--secondary-color)) 1px solid;
    color: rgb(var(--dark-text-color));
    box-shadow: 0 0 10px #000;
    background-color: rgb(var(--dark-background-color));
    padding: 10px;
}
